@import url("./components/header.css");
@import url("./components/hero.css");
@import url("./components/about.css");
@import url("./components/portfolio.css");
@import url("./components/contacts.css");
@import url("./components/footer.css");

@import url("./utils/base.css");
@import url("./utils/container.css");
