@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition: background-color 0.3s ease, color 0.3s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background_color);
}
