@import url("../utils/variables.css");

.contacts {
  margin-top: 31x;
  margin-bottom: 31px;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 971px;
  height: 450px;
  margin-left: 185px;

  @media screen and (max-width: 1023px) {
    margin: 0;
    height: 100%;
    align-items: center;
    gap: 50px;
  }
}

.contacts-text-main {
  color: var(--main-text-color);
}

.contacts-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  height: 61px;
}

.contacts-text {
  margin-top: 16px;
  max-width: 441px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.contacts-ul {
  display: flex;
  flex-direction: column;
}

.contacts-li {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 26px;
}

.contacts-li-first {
  margin-top: 24px;
}

.contacts-li-second {
  margin-top: 26px;
}

.contacts-list-text {
  font-weight: 400;
  font-size: 20px;
}

.contacts-list-image {
  width: 24px;
}

:root:not([data-theme="dark"]) .contacts-list-image {
  filter: none;
}

:root[data-theme="dark"] .contacts-list-image {
  filter: grayscale(100%) brightness(0);
}

.contacts-ul-wrapper {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  height: 126px;

  @media screen and (max-width: 768px) {
    margin-top: 100px;
  }
}

.contacts-list-link {
  transition: color 0.3s;
}

.contacts-list-link:hover {
  color: aqua;
}

.contacts-form {
  max-width: 512px;
  height: 271px;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
}

.contacts-form-name {
  display: flex;
  margin-bottom: 38px;
  gap: 32px;
}

.contacts-form-name,
.contacts-form-details {
  display: flex;
  gap: 32px;

  @media screen and (max-width: 540px) {
    flex-direction: column;
  }
}

.contacts-form-input {
  width: 240px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 1px solid #4f4f4f;
  font-weight: 700;
  font-size: 14px;
  color: #4f4f4f;
  padding: 3px 0px 5px 5px;
  align-items: center;

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.contacts-wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 441px;
  margin-bottom: 56px;
  margin-left: 194px;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.contacts-wrapper-more {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}

.contacts-message {
  display: flex;
  width: 512px;
  height: 96px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #4f4f4f;
  color: #4f4f4f;
  resize: none;
  border-radius: 7px;
  padding-top: 8px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.contacts-form-message {
  margin-top: 38px;
}

.contacts-submit {
  border: 0;
  border-radius: 8px;
  width: 128px;
  height: 39px;
  background-color: var(--elements_background_color);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.contacts-submit:hover {
  background-color: rgb(61, 61, 61);
  box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.644);
}

.contacts-form-submit {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

.contacts-form-wrapper {
  position: relative;
}

.contacts-form-label {
  position: absolute;
  top: 0;
  left: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #4f4f4f;
  background-color: var(--contacts-form-label-text-bg);
  padding: 0 3px;
  transition: 150ms ease-in;
}

.contacts-form-label:hover {
  cursor: text;
}

.contacts-form-input:focus + .contacts-form-label {
  top: -12px;
  left: 10px;
}

.contacts-form-input:not(:placeholder-shown, :focus) {
  border: 1px solid var(--contacts-form-label-border);
  border-radius: 4px;
}

.contacts-form-input:not(:placeholder-shown) + .contacts-form-label {
  top: -12px;
  left: 10px;
}

.contacts-form-input:placeholder-shown:not(:focus) + .contacts-form-label {
  top: 8px;
  left: 2px;
}

.contacts-form-message-label {
  position: absolute;
  top: 8px;
  left: 10px;
  transition: 150ms ease-in;
}

.contacts-message:focus + .contacts-form-label {
  top: -12px;
  left: 20px;
}

.contacts-message:not(:placeholder-shown, :focus) {
  border: 1px solid var(--contacts-form-label-border);
  border-radius: 8px;
}

.contacts-message:not(:placeholder-shown) + .contacts-form-label {
  top: -12px;
  left: 20px;
}

.contacts-message:placeholder-shown:not(:focus) + .contacts-form-label {
  top: 8px;
  left: 10px;
}
