@import url("../utils/variables.css");

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
}

.header {
  background-color: var(--elements_background_color);
  padding: 32px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-list {
  display: flex;
  gap: 32px;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  color: var(--nav-text-color);
  padding: 5px;
}

.nav-link {
  color: var(--nav-text-color);
  padding: 15px 0;
}

.main-link {
  transition: color 0.5s;
}

.nav-link:hover {
  color: #4f4f4f;
}

.checkbox {
  display: none;
}

.theme-toggler {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--elements_background_color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  @media screen and (max-width: 768px) {
    bottom: 5px;
    right: 5px;
  }
}

.theme-toggler .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease, transform 0.3s ease;

  @media screen and (max-width: 480px) {
    width: 20px;
    height: 20px;
  }
}

.sun {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.moon {
  opacity: 0;
  transform: scale(0.5) rotate(-90deg);
}

.checkbox:checked + .theme-toggler .sun {
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
}

.checkbox:checked + .theme-toggler .moon {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
