@import url("../utils/variables.css");

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 50px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 50px;
  }
}

.hero {
  padding-top: 180px;
  padding-bottom: 82px;
}

.hero-speciality {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

.hero-name_surname {
  margin-top: 18px;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.hero-description {
  max-width: 560px;
  margin-top: 31px;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

.photo {
  max-width: 500px;
  max-height: 500px;
  padding: 15px;
  border: 5px solid var(--elements_background_color);
  border-radius: 50%;
  border-width: 5px;
  border-radius: 100%;

  @media screen and (max-width: 480px) {
    max-width: 250px;
    max-height: 250px;
    border: 2px solid var(--elements_background_color);
    padding: 7px;
  }

  @media screen and (min-width: 481px) and (max-width: 780px) {
    max-width: 400px;
    max-height: 400px;
    border: 3px solid var(--elements_background_color);
    padding: 10px;
  }
}

.hero-description {
  max-width: 560px;
}

.hyperlink_buttons {
  margin-top: 62px;
  display: flex;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 480px) {
    gap: 5px;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    gap: 5px;
  }
}

.download_cv_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--elements_background_color);
  border: 0;
  color: #fff;
}

.learn_more_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--elements_color);
  color: var(--learn-more-button-text-color);
}

.hyperlink_text {
  max-height: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 27px;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;

  @media screen and (max-width: 768px) {
    height: 40px;
    padding: 5px;
  }
}

.hyperlink_buttons li {
  @media screen and (max-width: 768px) {
    flex: 1;
  }
}

.download_cv_button:hover,
.learn_more_button:hover {
  background-color: rgb(61, 61, 61);
  box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.644);
}

:root:not([data-theme="dark"]) .learn_more_button:hover {
  color: white;
}

:root[data-theme="dark"] .learn_more_button:hover {
  color: var(--more-button-text);
}

.hero-photo-wrapper {
  position: relative;
}

.hero-open-to-work {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  height: 56px;
  width: 160px;
  border-radius: 8px;
  background-color: #ebebeb;
  position: absolute;
  top: 360px;
  left: 0;
  opacity: 0;
  animation: fadeIn 2s forwards 0.65s;

  @media screen and (max-width: 480px) {
    height: 30px;
    width: 100px;
    font-size: 9px;
    top: 175px;
    left: -15px;
  }

  @media screen and (min-width: 481px) and (max-width: 780px) {
    height: 45px;
    width: 130px;
    font-size: 12px;
    top: 280px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-open-to-work-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0ch;
  animation: typing 3s forwards 2.2s;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 15ch;
  }
}

.hero-online {
  position: absolute;
  border-radius: 100%;
  background-color: #34c759;
  border: 2px solid #fff;
  width: 32px;
  height: 32px;
  bottom: 20px;
  right: 105px;
  opacity: 0;
  -webkit-animation: heartbeat 1.5s forwards 4.8s;
  animation: heartbeat 1.5s forwards 4.8s;

  @media screen and (max-width: 480px) {
    height: 25px;
    width: 25px;
    bottom: 15px;
    right: 52px;
  }

  @media screen and (min-width: 481px) and (max-width: 780px) {
    height: 32px;
    width: 32px;
    bottom: 25px;
    right: 80px;
  }
}

@-webkit-keyframes heartbeat {
  from {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heartbeat {
  from {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
  }
}
